# IntelliJ IDEA spezifische Dateien und Ordner
.idea/
*.iml

# Build-Ordner
/target/
/build/

# Java-Kompilierte Dateien
*.class

# Log-Dateien
*.log

# Temporäre Dateien
*.tmp
*.swp
*~

# System-spezifische Dateien
.DS_Store      # macOS spezifisch
Thumbs.db      # Windows spezifisch

# Maven spezifische Dateien
*.jar
*.war
*.ear

# Gradle spezifische Dateien
.gradle/
build/

# Eclipse spezifische Dateien
.settings/

# VS Code spezifische Dateien
.vscode/

# Sonstiges
*.bak
*.orig
*.swp
# Ignoriere automatisch generierte XML-Dateien
*.xml